body {
  font-family: 'Poppins', sans-serif;
  color: rgb(52, 52, 52);
  background-color: rgb(249, 209, 205);
}

html nav, a {
  background-color: rgb(121, 119, 119);
  color: rgb(33, 30, 30);
  width: auto;
  height: 90px;
  overflow: hidden;
}

nav > ul > li {
  line-height: 90px;
}

html nav a {
  background-color: rgb(121, 119, 119);
  color: rgb(249, 209, 205);
  width: auto;
  height: 90px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  /* padding: 20px 30px 10px 30px; */
  text-decoration: none;
  font-size: 1.5rem;
}

html nav a:hover {
  background-color: rgb(249, 209, 205);
  color: rgb(33, 30, 30);
}

.right {
  float: right;
}

.end {
  margin-right: 50px;
}

.start {
  margin-left: 50px;
}

html h1 {
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 40px;
}

html h3 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 40px;
}

text {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(33, 30, 30);
}

data {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(223, 106, 93);
}

img {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
}

div {
  background-color: rgba(255, 234, 240, 0.651);
  width: 30%;
}

.about {
  width: 50%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

table, td, th {
  background-color: seashell;
  border: solid black 1px;
  border-collapse: collapse;
  padding: 10px;
}

#cookieData {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#info {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(249, 209, 205);
  width: 750px;
  padding: 20px;
  text-align: center;
}

#info p {
  display: inline;
}

.strong {
  font-weight: 600;
}

#contact {
  width: 50%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(249, 209, 205);
}

#contact input {
  margin: 5px;
  margin-bottom: 15px;
  height: 20px;
}

#contact label {
  display: block;
  height: 20px;
}

.topalign {
  text-justify: top;
}

.specialA {
  background-color: rgb(249, 209, 205);
}

footer > p {
  width: 400px;
  margin: 0 auto;
}